In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("iris.csv")
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
data.shape

(150, 6)

In [4]:
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [1]:
data.head()

NameError: name 'data' is not defined

In [8]:
x= data.iloc[:,1:5]
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [2]:
y=data.iloc[:,-1]
y.head()

NameError: name 'data' is not defined

In [10]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

In [11]:
x= scaler.fit_transform(x)
x[0:5]

array([[-0.90068117,  1.03205722, -1.3412724 , -1.31297673],
       [-1.14301691, -0.1249576 , -1.3412724 , -1.31297673],
       [-1.38535265,  0.33784833, -1.39813811, -1.31297673],
       [-1.50652052,  0.10644536, -1.2844067 , -1.31297673],
       [-1.02184904,  1.26346019, -1.3412724 , -1.31297673]])

In [12]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [13]:
X_train.shape

(120, 4)

In [14]:
X_test.shape

(30, 4)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

model=KNeighborsClassifier(n_neighbors=1)
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [16]:
pred=model.predict(X_test)
pred[0:5]

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor'], dtype=object)

In [17]:
y_test[0:5]

73     Iris-versicolor
18         Iris-setosa
118     Iris-virginica
78     Iris-versicolor
76     Iris-versicolor
Name: Species, dtype: object

In [18]:
from sklearn.metrics import accuracy_score
accuracy= accuracy_score(y_test,pred)
accuracy

0.9666666666666667

In [19]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,pred)
cm

array([[10,  0,  0],
       [ 0,  8,  1],
       [ 0,  0, 11]], dtype=int64)

In [20]:
from sklearn.metrics import classification_report
classification_report = classification_report(y_test,pred)
print(classification_report)

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      0.89      0.94         9
 Iris-virginica       0.92      1.00      0.96        11

       accuracy                           0.97        30
      macro avg       0.97      0.96      0.97        30
   weighted avg       0.97      0.97      0.97        30

In [23]:
#correct_sum=[]

#for i in range(1,20):
 #   model = KNeighborsClassifier(n_neighbors=i)
  #  model.fit(X_train,y_train)
   # pred= model.predict(X_test)
    #correct=np.sum(pred==y_test)
    #correct_sum.append(correct)

In [24]:
#correct_sum

[29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 29, 29]

In [25]:
#result = pd.DataFrame(data=correct_sum)
#result.index= result.index+1
#result.T

   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19
0  29  30  30  30  30  30  30  30  30  30  30  30  30  30  30  30  30  29  29

In [35]:
#model= KNeighborsClassifier(n_neighbors=1)
#model.fit(X_train,y_train)
#pred=model.predict(X_test)

In [36]:
#accuracy =accuracy_score(y_test,pred)

In [37]:
#accuracy

0.9666666666666667

In [38]:
#confusion_matrix(y_test,pred)

array([[10,  0,  0],
       [ 0,  8,  1],
       [ 0,  0, 11]], dtype=int64)

In [46]:
#import numpy as np

sample_data = np.array([5.7, 2.8, 4.1, 1.3]).reshape(1, -1)  # Reshaping into 2D array

sample_scaled_data = scaler.fit_transform(sample_data)  # Use transform if the scaler is already fitted

predictions = model.predict(sample_scaled_data)  # Make predictions
print(predictions)

['Iris-versicolor']